body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    border-radius: 50%;
    border-top: 20px solid yellow;
    border-right: 20px solid lightblue;
    border-bottom: 20px solid lightseagreen;
    border-left: 20px solid lightcoral;
    width: 200px;
    height: 200px;
    animation: preloader 6s linear infinite alternate;
}
    @keyframes preloader {
        from {
            transform: rotate(360deg);
        }
        to {
            transform: rotate(-360deg) scale(1.2);
        }
    }
