*{
    margin:0;
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.5fr 5fr 4fr 0.8fr 1fr;
    grid-template-areas:
    'nav nav'
    'main aside-1'
    'main aside-2'
    'section section'
    'footer footer';
}
.grid nav{
    grid-area: nav;
    background: #D9D9D9;
}
.grid main{
    grid-area: main;
    background: #A4A4A4;
}
.grid aside:nth-child(3){
    grid-area: aside-1;
    background: #7F7A7A;
}
.grid aside:nth-child(4){
    grid-area: aside-2;
    background: #615050;
}
.grid section:nth-child(5){
    grid-area: section;
    background: #D9D9D9;
}
.grid footer{
    grid-area: footer;
    background: #AFA9A9;
}
